.light *::-webkit-scrollbar {
    height: 10px;
    width: 4px;
}

.light *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #EFEFEF;
}

.light *::-webkit-scrollbar-track:hover {
    background-color: #E3E3E3;
}

.light *::-webkit-scrollbar-track:active {
    background-color: #E3E3E3;
}

.light *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #999;
}

.light *::-webkit-scrollbar-thumb:hover {
    background-color: #BFBFBF;
}

.light *::-webkit-scrollbar-thumb:active {
    background-color: #BFBFBF;
}

.dark *::-webkit-scrollbar {
    height: 10px;
    width: 4px;
}

.dark *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #2E3035;
}

.dark *::-webkit-scrollbar-track:hover {
    background-color: #4C4C4C;
}

.dark *::-webkit-scrollbar-track:active {
    background-color: #4C4C4C;
}

.dark *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #5B5B5B;
}

.dark *::-webkit-scrollbar-thumb:hover {
    background-color: #777777;
}

.dark *::-webkit-scrollbar-thumb:active {
    background-color: #777777;
}

.dark #docsearch * {
    background-color: transparent !important;
}

.dark *::-webkit-scrollbar {
    height: 10px;
    width: 4px;
}

.dark *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #2E3035;
}

.dark *::-webkit-scrollbar-track:hover {
    background-color: #4C4C4C;
}

.dark *::-webkit-scrollbar-track:active {
    background-color: #4C4C4C;
}

.dark *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #5B5B5B;
}

.dark *::-webkit-scrollbar-thumb:hover {
    background-color: #777777;
}

.dark *::-webkit-scrollbar-thumb:active {
    background-color: #777777;
}